.App-top {
  padding-top: get-spacer(4);
  padding-bottom: get-spacer(3);
}

.App-top__container {
  @extend .container-lg;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-top__title {
  @extend .h2;

  margin-bottom: 0;
}

.App-top__icon {
  $size: 1.5em;
  width: $size;
  height: $size;
}
