.App-header {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;

  width: 100%;
  overflow: hidden;

  background-color: theme-color('white');

  border-top: 1px solid $border-color;

  @include media-breakpoint-up('sm') {
    top: 0;
    bottom: auto;

    border-top: 0;
    border-bottom: 1px solid $border-color;
  }
}

.App-header__container {
  @extend .container-lg;

  @include media-breakpoint-up('sm') {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.App-header__logo {
  display: none;

  @include media-breakpoint-up('sm') {
    display: block;
  }
}

.App-header__icon {
  width: var(--app-header-nav-icon-size);
  height: var(--app-header-nav-icon-size);
}

.App-header__link-text {
  display: block;

  font-size: 8px;

  @media (min-width: 340px) {
    font-size: 10px;
  }
}

.App-header__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  @include media-breakpoint-up('sm') {
    align-items: flex-start;
  }
}

.App-header__nav {
  @include media-breakpoint-up('sm') {
    flex-grow: 0;
    margin-right: -1rem;
  }
}

.App-header__nav-item {
  flex-grow: 1;

  @include media-breakpoint-up('sm') {
    flex-grow: 0;
  }
}

.App-header__nav-link {
  display: block;
  padding: 0.5rem 1rem;

  text-align: center;

  @media (max-width: 420px) {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

.App-header__nav-item--main {
  @include media-breakpoint-up('sm') {
    order: -1;
  }

  .App-header__icon {
    @include media-breakpoint-down('xs') {
      $size: 2.5em;
      width: $size;
      height: $size;
    }
  }
}
