.place-popup {
  max-width: 800px;
  margin: 0 auto;
}

.place-popup__img {
  margin-top: get-spacer(4);
}

.place-popup__text {
  margin-top: get-spacer(3);
}

.place-popup__container {
  position: relative;
}

.place-popup__btn-toggle-favorite {
  position: absolute;
  top: 0;
  right: -0.75rem;
}

.place-popup__btn-toggle-favorite svg {
  width: 1.5rem;
  height: 1.5rem;

  fill: theme-color('primary');
}

.place-popup__title {
  margin-right: 40px;
}
