{
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:prettier/recommended",
    "react-app",
    "react-app/jest"
  ],
  "parser": "@babel/eslint-parser",
  "plugins": ["prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["gulpfile.babel.js", "gulp/**/*"] }
    ]
  }
}
