.chat {
  @include transitions(background-color, color, opacity);

  align-items: center;

  color: inherit;

  &:hover {
    color: theme-color('light');
    text-decoration: none;

    background-color: theme-color('primary');
  }

  &:active {
    opacity: 0.7;
  }
}

.chat-avatar {
  margin-left: map-get($spacers, 3);
}

.chat-preview-text {
  @include transitions(color);

  overflow: hidden;

  color: theme-color('secondary');
  font-size: $small-font-size;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat:hover .chat-preview-text {
  color: theme-color('light');
}

.chat-body {
  min-width: 0;
  padding: map-get($spacers, 4);
}

.chat-body-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: map-get($spacers, 1);
}

.chat-time {
  @include transitions(color);

  margin-left: map-get($spacers, 2);

  color: theme-color('secondary');
  font-size: $small-font-size;
}

.chat:hover .chat-time {
  color: theme-color('light');
}

.chat-title {
  @extend .h6;

  margin-bottom: 0;
}
