@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    @if ($breakpoint != 'xs') {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      .border#{$infix}-top {
        border-top: 1px solid theme-color('gray') !important;
      }

      .border#{$infix}-right {
        border-right: 1px solid theme-color('gray') !important;
      }

      .border#{$infix}-bottom {
        border-bottom: 1px solid theme-color('gray') !important;
      }

      .border#{$infix}-left {
        border-left: 1px solid theme-color('gray') !important;
      }

      .border#{$infix} {
        border: 1px solid theme-color('gray') !important;
      }
    }
  }
}
