:root {
  --app-header-nav-icon-size: 1.5em;
  --app-header-height: 53px;
}

@include media-breakpoint-up('sm') {
  :root {
    --app-header-nav-icon-size: 1.25em;
    --app-header-height: 55px;
  }
}
