*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
html {
  box-sizing: border-box;
}

body {
  height: 100vh;

  font-family: 'Alegreya Sans', sans-serif;

  background-color: #f5f5f5;
}

img {
  max-width: 100%;
  height: auto;
}
