.App {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding-bottom: var(--app-header-height);

  @include media-breakpoint-up('sm') {
    padding-top: var(--app-header-height);
  }
}

.App__inner {
  height: 100%;
  overflow-y: scroll;

  @include media-breakpoint-up('sm') {
    overflow-y: visible;
  }
}
